body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 1000px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    align-items: baseline;
}
.container img{
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;   
} 

.container h1 {
    text-align: center;
    color: #333;
}
.container a{
    text-align: right;
    size : 20px;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    
}

button:hover {
    background-color: #0056b3;
}

.options {
    margin-top: 20px;
    text-align: center;
}

.options a {
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}
.header{
   background-color: #555;
    padding: 50px;
}
.header h1{
    
    font-size: 24px;
    font-weight: bold;
}

.tr{
    display:table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;

}
.table{
    width: 100%;
    border: 15px solid white;
    border-collapse: collapse;
}
td{
    align-items: center;
    position: relative;
    padding-left: 50px;
}
th{
    position: relative;
}
.custom-select select {
    appearance: none;
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}